.header {
    background-color: navajowhite;
    margin-top: 0%;
    padding: 0%;
    margin: 0
}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidenav {
    background-color: rgb(9, 153, 172);
    float: right; 
    width:150px; 
    margin: 0%;
    padding: 0%;
    padding-bottom: 300px;
}

.topnav {
    color: rgb(9, 153, 172);
    text-align: center;
    margin: 0%;
}

.p {
    color: white;
    text-align: center;
}

.body {
    background-color: tan;
    height:100%;
    padding: 0%;
    margin: 0%;
}

.h1 {
    margin-top:0;
    text-align: center;
    color: rgb(9, 153, 172);
    font-style: bold;
    font-weight: 800;
}

.h2 {
    color: rgb(9, 153, 172);
    font-weight: 500;
    text-align: center;
    font-style: italic;
}

.h4 {
    color: rgb(9, 153, 172);
    text-align: center;
    font-weight: 100;
}

.h5 {
    color: rgb(9, 153, 172);
    text-align: center;
    font-weight: 100;
    font-style: italic;
}
.hr {
    border-top: 10px solid rgb(9, 153, 172);
    color: rgb(9, 153, 172);
    margin: 0%;
    padding: 0%;
}

.em {
    text-align: center;
    color: rgb(9, 153, 172);
}

.strong {
    text-align: center;
}

.img {
    width: 475px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.img_2 {
    width: 300px;
    height: 200px;
    margin-right: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
      
.img_3 {
    width: 100px;
    height: 50px;
    margin-right: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.p_para {
    color: rgb(9, 153, 172);
    text-align: left;
    text-indent: 30px;
}

@media (max-width: 650px) {
    .sidenav {
        display: none;
    }

    .hr {
        margin: 0%;
        padding: 0%;
    }

    .img {
        width: 325px;
        height: 225px;
    }
  }
